body {
  margin: 0;
  height: 100vh;
  background-color: gray;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    "sidenav header"
    "sidenav content"
    "sidenav footer";
}

#header {
  position: absolute;
  width: 916px;
  height: 21px;
  left: 592px;
  top: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 791px;
  height: 299px;
  left: 304px;
  top: 258px;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
  background: #2fb84d;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  padding-top: 40%;
}

#sidenav > img {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.block {
  width: 300px;
  height: 300px;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

.blockead {
  width: 200px;
  height: 200px;
  border: 20px solid rgb(21, 214, 14);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

.bloco-interno {
  background-color: white;
  width: 900px;
  height: 250px;
  border: 1px solid black;
  
}

